.filters-container{
  display: flex;
  gap: 100px;
  align-items: center;
  width: 500px;
  position: relative;
  -ms-flex-align: start;
  min-height: 80px;
}

.filter{
  height: 30px;
  border-radius: 25px;
  border: 1px solid;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.arrow-icon{
  height: 15px;
  position: relative;
  left:0;
}

progress[value] {
  --background: conic-gradient(#31c6f7 var(--p),lightgrey 0); 

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: var(--background);
  -webkit-mask: radial-gradient(#0000 59%,#000 60% 70%,#0000 71%)
}
progress[value]::-webkit-progress-bar {
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  background: #0000;
}
progress[value]::-moz-progress-bar {
  background: #0000;
}

label {
  --w: 150px; /* the width*/
  
  font-size: 20px;
  font-weight: bold;
  display: inline-grid;
  place-content: center;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
}